{
    "env": {
        "es2022": true,
        "node": true
    },
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": ["import", "@typescript-eslint"],
    "extends": [
        "airbnb-base",
        "airbnb-typescript",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "prettier"
    ],
    "rules": {
        "indent": 0,
        "semi": 2,
        "camelcase": 0,
        "no-console": 0,
        "arrow-body-style": 0,
        "no-useless-escape": 0,
        "no-unused-vars": 1,
        "react/jsx-filename-extension": 0,
        "@typescript-eslint/no-unused-vars": 1,
        "@typescript-eslint/no-non-null-assertion": 0,
        "@typescript-eslint/no-unused-expressions": 0,
        "@typescript-eslint/ban-types": 0,
        "import/prefer-default-export": 0,
        "no-restricted-syntax": 0,
        "no-useless-constructor": 0,
        "no-empty-function": 0,
        "prettier/prettier": 2
    },
    "settings": {
        "import/resolver": {
            "typescript": {}
        }
    },
    "ignorePatterns": ["**/*.html", "**/*.js"]
}
